/* Utilisation de Sass */
/* Surveiller un seul fichier */
/* sass --watch style.scss:style.css */
/* Surveiller un répértoire complet */
/* sass --watch stylesheets/sass:stylesheets/compiled */
/* style.scss : Nesting */
/* Les descendant sont imbriqués */
#navbar {
  width: 80%;
  height: 23px; }
  #navbar ul {
    list-style-type: none; }
  #navbar li {
    float: left; }
    #navbar li a {
      font-weight: bold; }

/* style.css */
/*#navbar {
	width: 80%;
	height: 23px; 
}
#navbar ul {
	list-style-type: none; 
}
#navbar li {
	float: left; 
}
#navbar li a {
	font-weight: bold; 
}*/
/**************/
/* style.scss : ; */
/* Les 2 points ici permettent de ne plus répéter le border- */
.fakeshadow {
  border-style: solid;
  border-left-width: 4px;
  border-left-color: #888;
  border-right-width: 2px;
  border-right-color: #ccc; }

/* style.css */
/*.fakeshadow {
	border-style: solid;
	border-left-width: 4px;
	border-left-color: #888;
	border-right-width: 2px;
	border-right-color: #ccc; 
}*/
/**************/
/* style.scss : Parent References */
/* Le & remplace le symbole a ici ... (ie. le sélécteur parent) */
a {
  color: #ce4dd6; }
  a:hover {
    color: #ffb3ff; }
  a:visited {
    color: #c458cb; }

/* style.css */
/*a {
  color: #ce4dd6; 
}
a:hover {
    color: #ffb3ff; 
}
a:visited {
    color: #c458cb; 
}*/
/*************************/
/* style.scss : Variables */
#navbar {
  border-bottom-color: #ce4dd6;
  border-bottom-style: solid; }

a {
  color: #ce4dd6; }
  a:hover {
    border-bottom: solid 1px; }

/* style.css */
/*#navbar {
  border-bottom-color: #ce4dd6;
  border-bottom-style: solid; }

a {
  color: #ce4dd6; }
  a:hover {
    border-bottom: solid 1px; }
*/
/*********/
/* style.scss : Operations and Functions */
#navbar {
  width: 800px;
  border-bottom: 2px solid #ce4dd6; }
  #navbar li {
    float: left;
    width: 150px;
    background-color: #e5a0e9; }
    #navbar li:hover {
      background-color: #d976e0; }

/* style.css */
#navbar {
  width: 800px;
  border-bottom: 2px solid #ce4dd6; }

#navbar li {
  float: left;
  width: 150px;
  background-color: #e5a0e9; }

#navbar li:hover {
  background-color: #d976e0; }

/***********/
/* style.scss */
.rounded-top-left {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

/* style.css */
.rounded-top-left {
  border-top-radius: 10px;
  -moz-border-radius-top: 10px;
  -webkit-border-top-radius: 10px; }

/***************/
/* style.scss : Mixins*/
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

/* style.css */
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

/***********/
/* style.scss : @import; */
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }

#sidebar {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px; }

/* style.css */
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }

#sidebar {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px; }

/***********/
/* style.scss  : mixins ...*/
/* _rounded.scss */
#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }

#sidebar {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px; }
